%h1 Refine Query
-#you searched for #{@query}
%h2 Choose most likely population center
= form_tag(results_path, :method => "get") do
  %table
    %tr
      %th
      %th Name
      %th Coordinates
    - @results.each do |pclist|
      %tr
        %td= radio_button_tag(:id,pclist[:value],false)
        %td= pclist[:name]
        %td= link_to pclist[:coordinates], "http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=#{pclist[:coordinates]}"
  = label_tag(:r, "Radius:")
  = text_field_tag(:r)
  %p
  = submit_tag("Refine")
