%h1 Results List
you chose option #{@id} within a radius of #{@radius} #{@units}
%table
  %tr
    %th name
    %th population
    %th lat
    %th lng
  - @results.each do |city|
    %tr
      %td= city["name"]
      %td= city["population"]
      %td= city["lat"]
      %td= city["lng"]
  end